.nav-img{
    height: 80px;
}
.nav-item{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 10px;
    
    font-weight: 600;
    font-size: 16pt;
}
.nav-user{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Proxima Nova';
    font-weight: 600;
    font-size: 16pt;
    display: inline;
}
.nav-user > div{
    display: inline;
}

.sidepanel{
    background-color: #E5E8EA;
}
.nav-cart-amt{
    color: #C1C8CE;
    display: inline;
    margin-left: 2px;
    font-weight: 600;
}
.parent-category{
    color: #33A0FF;
    
    font-size: 14pt;
    font-weight: 600;

}
.current-category{
    display: inline;
    
    font-size: 14pt;
    font-weight: 600;
}
.home-page-content{
    margin-top: 90px ;
}
.panel-title{
    margin-top: 24px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 18pt;
}
#brand{
    margin-top: 74px;
}

.brand-list{
    margin-left: 24px;
    position: relative;
}

.panel-subtitle{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 16pt;
    color: #33A0FF;
}

.panel-item{
    margin-top: 24px;
    margin-left: 24px;
    font-weight: 600;
    font-size: 16pt;
}

.sidepanel-lower{
    margin-top: 24px;
    background-color: #E5E8EA;
}
.price-item-max{
        
    font-size: 16pt;
    display: block;
    margin-left: 30px;
    /* position: absolute;
    right: 0;
    box-sizing: border-box; */

}
.price-item-min{

    font-size: 16pt;
    margin-left: 20px;   
}
.price-input{
    width: 90px;
    font-size: 16pt;
    display: block;
    border: 0px;
    margin-left: 20px;
}
.hyphen{
    text-align: center;
    margin-top: 37px;
}
.list-group-item.active {
    z-index: 2;
    background-color: #fff;
    color: #007bff;
    border-color: #fff;
}
.list-group-item{
    border: 0px;
    padding-right: 50px;
}
.display-detail{
    margin-top: 24px;
    /* margin-left: 24px; */
    background-color: #C1C8CE;
}
.form-control {
    width:auto;
    display:inline-block;
    }
.sidepanel-items-listed{
    display: inline;
    position: absolute;
    padding-right: 10px;
    right: 0;
}
.display-detail > label{
   margin-left: 10px;
   margin-top: 24px;
   margin-bottom: 24px;
   font-weight: 400;
   font-family:'Proxima','Nova';
   font-size: 16pt;
}
.item-title{
    font-weight: 600;
    font-size: 16pt;
    text-align: center;
}
.card-body{
    text-align: center;
}
.card-discounted-price{
    color: red;
    text-align: center;
    display: inline;
}
.card-MRP{
    color: #C1C8CE;
    display: inline;
    text-align: center;
    text-decoration: line-through
}
.highlighted{
    background-color: #2E90E5;
    color: #fff;
    height: 100%;
    border-radius: 1%;
    overflow: hidden;
    position: relative;
    margin-left: 24px;
}
.go-to-item{
    color: #fff;
    text-decoration: underline;
}
.highlighted-img{
    margin-top: -100px;
    position: absolute;
    right: 0;
    /* height: min-content; */
}
.carousel-indicators >li{
    border-radius: 100%;
}
.item-filters{
    background-color: #C1C8CE;
}
#item-list-body{
    margin-left: 24px;
}
.copyright{
    color: #C1C8CE;
}
.footer-icons{
    margin-left: 10px;
}
.footer-payment-icons{
    position: absolute;
    right: 0;
}
.price-item-list{
    text-align: center;
}
.color-radio-strip{
    margin-top: 24px;
    /* text-align: center; */
}


.custom-control{
    display: inline;
}
#radioblue::before{
    height: 20px;
    width: 20px;
    position: relative;
    background-color: #33A0FF;
}
#radiored::before{
    background-color: red;
    height: 20px;
    width: 20px;
    position: relative;
}
#radioblack::before{
    background-color: black;
    height: 20px;
    width: 20px;
    position: relative;
}
#radioyellow::before{
    background-color: yellow;
    height: 20px;
    width: 20px;
    position: relative;
}
#radiopink::before{
    background-color: pink;
    height: 20px;
    width: 20px;
    position: relative;
}
#radiowhite::before{
    background-color: white;
    height: 20px;
    width: 20px;
    position: relative;
}

.custom-control{
    display: inline;
}

.review-stars{
    display: inline;
    align-items: center;
}